*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

Thumbs.db

.idea/
*.ipr
*.iws

*.keystore
*.jks

.cxx/
.externalNativeBuild/
.kotlintest/
.kts.build/
.kts.cache/
.kts.tmp/

copilot.json

*.swp
*.swo

*.avd/
*.ini

*.tmp
*.bak
*.orig
